# Токен телеграм бота, можно получить при создании бота в @botfather
TOKEN=123456789:ABCDEFGHIJKLMnopqrstuvwxyz12345678

# Название категории для хранения логов, по умолчанию: logs
LOG_DIR=logs
# Уровень логирования, доступные: DEBUG, INFO, WARNING, ERROR, CRITICAL
# По умолчанию: INFO
LOG_LEVEL=INFO

# Настройка DEBUG для Django
DEBUG=True
SECRET_KEY=django-secret-key
ALLOWED_HOSTS=127.0.0.1

# Доменное имя
DOMAIN=127.0.0.1

# Если используется другая СУБД, то строку ниже следует закомментировать
NEED_SQLITE=True

# Настройки подключения
DB_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# По умолчанию "http://127.0.0.1:8000/api/v1/"
# Для запуска в Docker раскомментировать
# INTERNAL_API_URL=http://backend:8000/api/v1/

# Переменные должны содержать строку в формате json
# Все возможные тарифы в порядке возрастания приоритетности
# ALL_TARIFFS='[null, "mini", "midi", "maxi"]'
# Тарифы, при которых, бот будет доступен пользователю для использования
# ALLOWED_TARIFFS='["maxi"]'

# Если False, то совершаются реальные запросы к YOUCANBY_URL, если True - Mock
EXTERNAL_REQUESTS_ARE_MOCK=True

# Эндпоинт и токен для запроса к API личного кабинета
# YOUCANBY_URL=
# YOUCANBY_TOKEN=
# ROBOTGURU_URL=
# ROBOTGURU_TOKEN=



# Telegram ID профдизайнера, которому будут отправляться уведомления, если к пользователю не прикреплён профдизайнер
MAIN_MENTOR_ID=
