{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #f8bc43;">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'admin:index' %}">
      <img src="{% static 'logo.png' %}" alt="логотип" width="56" height="52" class="d-inline-block align-text-middle" id="logo">
      <div class="d-inline-block ms-2" style="line-height: 1;">
        <span class="fs-5 d-block">Помогаем реализовать</span>
        <span class="fs-5 d-block">твои таланты</span>
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        {% if request.GET.questions %}
          <a class="nav-link" href="{% url 'info_pages:taskstatus-list' telegram_id=object.telegram_id %}">Спрятать вопросы</a>
        {% else %}
          <a class="nav-link" href="{% url 'info_pages:taskstatus-list' telegram_id=object.telegram_id %}?questions=true">Показать вопросы</a>
        {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="window.print()">Печать</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
