{% extends "info_pages/base.html" %}

{% block content %}
  <div class="container text-right">
    <div class="row align-items-center">
      <div><strong class="fs-2">{{ object.name }} {{ object.surname }}</strong></div>
      <div class="col-sm"><strong>Telegram: </strong>@{{ object.telegram_username }}</div>
      {% if object.mentor %}
        <div class="col-sm"><strong>Профдизайнер: </strong>{{ object.mentor.user.first_name }} {{ object.mentor.user.last_name }}</div>
      {% else %}
        <div class="col-sm"><strong>Профдизайнер: </strong>Екатерина Бриль</div>
      {% endif %}
    </div>

    <div class="row align-items-center">
      <div class="col-sm">
        {% if not unfinished_tasks %}
          <strong>Все задания пройдены</strong>
        {% elif passed_tasks %}
          <strong>Пройденные задания: </strong>{{ passed_tasks }}
        {% else %}
          <strong>Нет пройденных заданий</strong>
        {% endif %}
      </div>
      <div class="col-sm">
        {% if unfinished_tasks %}
          <strong>Незавершённые задания: </strong>{{ unfinished_tasks }}
        {% endif %}
      </div>
    </div>

    <hr>

    {% for task_status in tasks %}
      {% if task_status.is_done %}
        {% if forloop.first %}
        <div class="row g-2 col-12 mb-4">
        {% else %}
        <div class="row g-2 col-12 mb-4 page-break">
        {% endif %}
        <div class="fs-2"><strong>Задание №{{ task_status.task.number }}. {{ task_status.task.name }}</strong></div>
        <div class="pb-2"><strong>Тест пройден:</strong> {{ task_status.pass_date }}</div>

        {% if task_status.task.number >= 5 and task_status.task.number <= 7 %}
          {% for answer in task_status.answers.all %}
            <div class="col-12 mb-2">
              <div class="border-dotted">
                <div class="pb-2 fs-2"><strong>Вопрос №{{ answer.question.number }}</strong></div>
                <div class="pb-2 content-font" style="white-space: pre-line">{{ answer.question.content | safe }}</div>
                <div class="pb-2 fs-2"><strong>Ответ</strong></div>
                <div class="pb-2 content-font">{{ answer.content | safe }}</div>
              </div>
            </div>
          {% endfor %}

          {% else %}
            {% if request.GET.questions and task_status.task.number != 8 %}
              <div class="pb-2 fs-2"><strong>Ответы</strong></div>
              {% for answer in task_status.answers.all %}
                <div class="row">
                  {% if answer.question.content == 'пара' %}
                    <div class="pb-2 fs-5">{{ answer.question.number }}-я пара</div>
                  {% else %}
                    <div class="pb-2 fs-5 content-font">Вопрос №{{ answer.question.number }} {{ answer.question.content | safe }}</div>
                  {% endif %}
                  <div class="m-2">
                    {% for choice in answer.question.choices.all %}
                      <div class="pb-2"><strong>[{{ forloop.counter | add:"1039" | stringformat:"c" }}]</strong> {{ choice.title | safe }}</div>
                      {% if choice.description %}
                        <div class="pb-2 pt-2">{{ choice.description | safe }}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="pb-2"><strong>Ответ:</strong> {{ answer.content | safe }}</div>
                </div>
              {% endfor %}
              <div class="pb-2 fs-2"><strong>Результаты</strong></div>
            {% endif %}

            {% for result in task_status.result.all %}
              <div class="col-12 mb-2">
                <div class="border-dotted">
                  <div class="pb-2 fs-2"><strong>
                    {% if result.score != 0 %}
                      {{ result.top }}.
                    {% endif %}
                    {{ result.result.title | capfirst }}
                  </strong></div>
                  <div class="pb-2 content-font" style="white-space: pre-line">{{ result.result.description | safe }}</div>
                  {% if result.score != 0 %}
                    <div class="pb-2 content-font"><strong>Количество баллов:</strong> {{ result.score }}</div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
